
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      
      <%= form_for(@profile) do |f| %>
        <% if @profile.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

            <ul>
            <% @profile.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
        
        <div class="box box-primary">
          <div class="box-header">
            <h2>Update your Profile</h2> 
          </div>
          <div class="box-body">
            <div class="row">
              <div class="field form-group col-md-6">
                <%= f.label :first_name %><br>
                <%= f.text_field :first_name, class:"form-control" %>
              </div>
              <div class="field form-group col-md-6">
                <%= f.label :last_name %><br>
                <%= f.text_field :last_name, class:"form-control" %>
              </div>
            </div>
            <div class="row">
              <div class="field form-group col-md-6">
                <%= f.label :job_title %><br>
                <%= f.collection_select :job_title, Profile::JOB_LEVELS, :first , :first %>
              </div>
              <div class="field form-group col-md-6">
                <%= f.label :custom_job_title %><br>
                <%= f.text_field :custom_job_title, class:"form-control" %>
              </div>
              <div class="field form-group col-md-6">
                <%= f.label :job_type %><br>
                <%= f.select :job_type, Profile::JOB_TYPES %>
              </div>
            </div>
            <div class="field form-group">
              <%= f.label :role %><br>
              <%= f.select :user_role, Profile::USER_ROLES %>
            </div>
            
            <% if current_user.is_super_admin? %>
              <div class="field form-group">
                <%= f.label :advanced_role %><br>
                <%= f.select :user_role, Profile::ADVANCED_USER_ROLES, prompt: 'Add advanced role...' %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit class: 'btn btn-flat btn-primary' %>
              
              <% if @profile.user == current_user %>
                <%= link_to edit_user_registration_path, class: 'btn btn-flat btn-primary' do %>
                  <i class="fa fa-lock" aria-hidden="true"></i>
                  Change your password
                <% end %>
              <% end %>
            </div>

            
          </div>
        </div>
      <% end %>
    </div>
  </div>


<script>
  $('select').addClass('form-control select2 select2-hidden-accessible')
</script>