<section class="content-header">
  <div class="text-center">
    <h1 class="page-title">Reviews for <%= @profile.name %></h1> 
  </div>
</section>
<section class="content">
  
  <div class="box box-primary box-solid">
    <div class="box-header with-border">
      <h2><%= @profile.name %></h2>

      <h4><strong>Job title:</strong>
        <% if @profile.custom_job_title.present? %>
          <%= @profile.custom_job_title%>
        <% else %>
          <%= @profile.job_title.upcase %>
        <% end%>
      </h4>

      <h4><strong>Job type:</strong>
        <%= @profile.job_type %></h4>
    </div>
    <div class="box-body">
      <% if @individual_reviews.present? %>
        <% @individual_reviews.each do |ir| %>
          <hr>
          <div class="row">
            <p class="col-md-1">
              <% if ir.totally_completed? %>
                <% if ir.has_passed? %>
                  <span class="label label-success">passed</span>
                <% else %>
                  <span class="label label-warning">failed</span>
                <% end %>
              <% else %>
                <span class="label label-primary">incomplete</span>
              <% end %>
            </p>
            <div class="col-md-12">
              <p class="col-md-2"><b>Employee Title :</b> <%= ir.employee_job_title.upcase %></p>
              <p class="col-md-2"><b>Last Updated :</b> <%= ir.answers.map(&:updated_at).max.strftime('%Y-%m-%d') || ir.updated_at %></p>
              <p class="col-md-2"><b>Review Date :</b> <%= ir.date %></p>
              <% if ir.reviewer_completed %>
                <p class="col-md-2">
                <%= link_to  individual_reviews_download_path(review: ir), target: '_blank', class: 'btn btn-flat btn-success form-control' do %>
                  <i class="fa fa-file-pdf-o"></i>
                  Download
                  <% end %>
                </p> 
              <% end %>
              <p class="col-md-2"><%= link_to ir, class: "btn btn-flat btn-primary form-control" do %>
                <i class="fa fa-file-text" aria-hidden="true"></i>
                Review
                <% end %>
              </p>
              <% if (current_user.id == ir.employee_id && !ir.employee_completed) || (current_user.id == ir.reviewer_id || current_user.is_super_admin?)  %>
                <p class="col-md-2"><%= link_to edit_individual_review_path(ir), class: "btn btn-flat btn-info form-control" do %>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  Edit Review
                  <% end %>
                </p>    
              <% end %> 
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center">
          <h3>There are no reviews for this employee</h3>
        </div> 
      <% end %>
    </div>
  </div>
</section>

