<section class="content-header">
  <div class="text-center">
    <h1 class="page-title">Reviews for <%= @profile.name %></h1> 
  </div>
</section>
<section class="content">
  
  <div class="box box-primary box-solid">
    <div class="box-header with-border">
      <h2><%= @profile.name %></h2>

      <h4><strong>Job title:</strong>
        <%= @profile.job_title %></h4>

      <h4><strong>Job type:</strong>
        <%= @profile.job_type %></h4>
    </div>
    <div class="box-body">
      <% if @individual_reviews.present? %>
        <% @individual_reviews.each do |ir| %>
          <hr>
          <div class="row">
            <div class="col-md-12">
              <p class="col-md-2">Employee Title : <%= ir.employee_job_title %></p>
              <p class="col-md-2"><%= ir.date %></p>
              <p class="col-md-2">
              <%= link_to  individual_reviews_download_path(review: ir), target: '_blank', class: 'btn btn-flat btn-success form-control' do %>
                <i class="fa fa-file-pdf-o"></i>
                Download
                <% end %>
              </p> 
              <p class="col-md-2"><%= link_to ir, class: "btn btn-flat btn-primary form-control" do %>
                <i class="fa fa-file-text" aria-hidden="true"></i>
                Review
                <% end %>
              </p>
              <p class="col-md-2"><%= link_to edit_individual_review_path(ir), class: "btn btn-flat btn-info form-control" do %>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                Edit Review
                <% end %>
              </p>     
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center">
          <h3>There are no reviews for this employee</h3>
        </div> 
      <% end %>
    </div>
  </div>
</section>

