<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
  <li><a href="#">Layout</a></li>
  <li class="active">Fixed</li>
</ol>
<section class="content-header">
  <div class="callout callout-info">
    <h1>
      Reviews for <%= @profile.name %>
    </h1>
    
  </div>
</section>

<div class="content">
  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>Job title:</strong>
    <%= @profile.job_title %>
  </p>

  <p>
    <strong>Job type:</strong>
    <%= @profile.job_type %>
  </p>

  <h2>Roles</h2>
  <% @user_roles.each do |role| %>
    <ul>
      <li><%= role %></li>
    </ul>
  <% end %>

  <h2>Reviews</h2>
  <% @individual_reviews.each do |ir| %>
    <div class="box">
      <div class="box-header with-border">
        <%= ir.review.name %> - <%= ir.date %>
      </div>
      <div class="box-body">
        <p></p>
        <p></p>
        <%= link_to 'Download', individual_reviews_download_path(review: ir), target: '_blank' %>
        <p><%= link_to 'Review', ir, class: "btn btn-flat btn-primary" %></p>
        <p><%= link_to "Update Review", edit_individual_review_path(ir), class: "btn btn-flat btn-primary" %></p>
        
      </div>
    </div>

  <% end %> 
  <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <%= link_to 'Back', profiles_path %>
</div>
