<section class="content">
	<div class="row">
		<h1 class="text-center page-header">Crossey Employee Review System</h1>

		<div class="col-md-6 col-md-offset-3">
			<div class="box box-primary">
				<div class="box-header text-center">
					<h2>Forgot your password?</h2>
				</div>
				<div class="box-body">
					<div class="col-md-8 col-md-offset-2">
						<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
						  <%= devise_error_messages! %>

						  <div class="field form-group">
						    <%= f.label :email %><br />
						    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
						  </div>

						  <div class="actions">
						    <%= f.submit "Send me reset password instructions", class: 'btn btn-flat btn-primary' %>
						  </div>
						<% end %>

						<%= render "devise/shared/links" %>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>


