<%= form_for(@individual_review) do |f| %>
  <% if @individual_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@individual_review.errors.count, "error") %> prohibited this individual_review from being saved:</h2>

      <ul>
      <% @individual_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :signatures do |builder| %>
    <%= render 'signature_fields', f: builder %>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-flat btn-primary' %>
  </div>
<% end %>
