<%= form_for(@individual_review) do |f| %>
  <% if @individual_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@individual_review.errors.count, "error") %> prohibited this individual_review from being saved:</h2>

      <ul>
      <% @individual_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	
	<div class="field">
	  <%= f.label :date %><br>
	  <%= f.date_select :date %>
	</div>
	<div class="field">
	  <%= f.label :review_id %><br>
	  <%= f.collection_select :review_id, Review.all, :id, :name %>
	</div>
	<div class="field">
		<%= f.label :employee %><br>
		<%= f.collection_select :employee_id, User.all, :id, :email %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>