<section class="content">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			
			<%= form_for(@individual_review) do |f| %>
			  <% if @individual_review.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@individual_review.errors.count, "error") %> prohibited this individual_review from being saved:</h2>

			      <ul>
			      <% @individual_review.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			      </ul>
			    </div>
			  <% end %>
				
				<div class="box box-primary">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<br><br>
						<div class="box-header">
							Create a New Review
						</div>
						<div class="box-body">
								<div class="form-group">
								  <%= f.label :date %><br>
									<div class="input-group date" >
									    <div class="input-group-addon">
									        <i class="fa fa-calendar"></i>
									    </div>
									    <%= f.text_field :date, class: 'form-control datepicker' %>
									</div>		
								</div>

								<div class="field form-group">
								  <%= f.label :review_id %><br>
								  <%= f.collection_select :review_id, Review.all, :id, :name, class: 'form-control select2 select2-hidden-accessible' %>
								</div>

								<div class="field form-group">
									<%= f.label :employee %><br>
									<%= f.collection_select :employee_id, User.not_archived, :id, :email, class: 'form-control select2 select2-hidden-accessible' %>
								</div>

								<div class="actions">
									<a href="/profiles/1" class="btn btn-flat btn-primary" id="show-previous">
										<i class="fa fa-files-o"></i>
										Show previous reviews
									</a>
								</div>
								<hr>
								<br>
							  <div class="actions">
							    <%= f.submit class: 'btn btn-flat btn-info' %>
							  </div>
							  <br><br>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>

<script>
	$('select').addClass('form-control select2 select2-hidden-accessible')

	$('.datepicker').datepicker({
		format: 'dd-mm-yyyy',
		autoclose: true
	});

</script>
