<fieldset>
	<h3><%= f.object.signature_type %> Signature</h3>
	<div class="field">
	  <%= f.label :signed %><br>
	  <%= f.check_box :signed %>
	</div>
	<div class="field">
	  <%= f.label :name %><br>
	  <%= f.text_field :name %>
	</div>
	<div class="field">
	  <%= f.label :date %><br>
	  <%= f.date_select :date %>
	</div>
</fieldset>