<p id="notice"><%= notice %></p>

<section class="content-header">
  <div class="text-center">
    <h1 class="page-title">Complete Employee Reviews - <%= @individual_review.review.name %> Review</h1>
  </div>
</section>

<section class="content">	
	<div class="row">
		<div class="col-md-6">
			<div class="box box-primary">
				<div class="box-body">
					<p><strong>Date :</strong> <%= @individual_review.date %></p>
					<p><strong>Employee :</strong> <%= @individual_review.employee.profile.name %></p>
					<p><strong>Employee Job Title at Time of Review :</strong> <%= @individual_review.employee_job_title %></p>
					<p><strong>Reviewer :</strong> <%= @individual_review.reviewer.profile.name %></p>
				</div>
			</div>
		</div>
	</div>

	<%= link_to profile_path(@individual_review.employee.profile), class: "btn btn-flat btn-primary" do %>
		<i class="fa fa-user"></i>
		Employee
	<% end %>
	
	<% @individual_review.review.sections.group_by(&:portion).each do |portion, sections| %>
		<ul>
			<li><h2><%= portion.capitalize %></h2></li>
				
				<% sections.group_by(&:portion).each do |section, questions|%>
					<% sections.each_with_index do |section, i| %>
			<div class="box box-solid collapsed-box">
				<div class="box-header bg-<%= IndividualReview::REVIEW_COLORS[i] %>">
					<li><h3 class="box-title"><%= section.title %></h3>
					<div class="box-tools pull-right">
					  <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Expand">
					    <i class="fa fa-plus"></i></button>
					</div>
				</div>
				<div class="box-body">
					
						<% section.questions.group_by(&:subsection).each do |subsection,questions| %>
							<h3><%= subsection %></h3> 
							
								<% array_questions = questions.map(&:id) %>
								<% these_questions = Question.where(id: array_questions).question_belongs_to_job_level(@individual_review.employee_job_type)%>
								<% next_questions = Question.where(id: array_questions).question_belongs_to_next_job_level(@individual_review.employee_job_type)%>
								<% these_questions.each do |question|%>	
									<li><%= question.question_text %></li>
									<li>
										<% answer = question.answers.where(individual_review_id: @individual_review.id).first %>
											
										<%= form_for(answer, remote: true, :authenticity_token => true, :html => {:id => "answer-#{question.id}", "data-id" => "#{answer.id}", :class => ''})  do |f| %>
											<% if question.question_type == 'check_box' %>
												<div class="form-group checkbox ">
							          	<%= f.collection_radio_buttons :answer, Answer::ANSWERS, :to_s, :humanize, class: 'form-control' %>
												</div>
											<% else %>
												<div class="form-group ">
							          	<%= f.text_area :answer, rows: '5', class: 'form-control text-answer-js' %>
												</div>
											<% end %>
							      		<% end %>
							      		<hr>
									</li>
								<% end %>
								<% if next_questions.length >= 1%>
									<div class="callout bg-gray">
										<h4>Next Level Questions</h4>
										<ul>
											<% next_questions.each do |question| %>	
												<li><%= question.question_text %></li>
											<% end %>
										</ul>
									</div>
								<% end %>
								
						<% end %>
						<% section_answer = section.section_answers.where(individual_review_id: @individual_review.id).first %>
						<%= form_for(section_answer, remote: true, :authenticity_token => true, :html => {:id => "section-#{section.id}", "data-id" => "#{section_answer.id}", :class => ''})  do |f| %>
							<fieldset>
								<div class="form-group ">
									<%= f.label :employee_comment %><br>
			          	<%= f.text_area :employee_comment, rows: '5', class: 'form-control comment-js' %>
								</div>
								<div class="form-group ">
									<%= f.label :reviewer_comment %><br>
			          	<%= f.text_area :reviewer_comment, rows: '5', class: 'form-control comment-js' %>
								</div>
							</fieldset>
			      <% end %>
				</div>
					</li>
			</div>
					<% end%>
				<% end %>
				</li>
		</ul>
	<% end%>

	<%= render 'form' %>
	
	<br><br>
	<%= link_to "View Results", individual_review_path(@individual_review), class: "btn btn-flat btn-primary" %>
</section>

<script>

	$('.datepicker').datepicker({
		format: 'dd-mm-yyyy',
		autoclose: true
	});

	// AJAX to create or update each answer - radio button
		$('input:radio').on('change', function(){
			var answer_value = $(this).val()
			var answer_id = $(this).parent().parent().data('id')
			console.log(answer_id)
			console.log(answer_value)
			var question = $(this).parent().parent().attr('id').split('-').pop()
			var individual_review = <%= @individual_review.id %>
			$.ajax({
				url:'/answers/' + answer_id,
				type: 'put',
				data: {
					answer : {
						question_id : question,
						answer_value : answer_value,
						individual_review_id : individual_review,
						answer_id : answer_id
					}
				},
				dataType: 'script',
				success: function(){
					console.log('success')
				},
				error: function(error){
					console.log('error')
					console.log(error)
				}
			});
		});

		// AJAX to create or update each answer - text answer
			$('.text-answer-js').on('change', function(){
				var answer_value = $(this).val()
				var answer_id = $(this).parent().parent().data('id')
				var question = $(this).parent().parent().attr('id').split('-').pop()
				console.log(answer_id)
				console.log(answer_value)
				console.log(question)
				var individual_review = <%= @individual_review.id %>
				$.ajax({
					url:'/answers/' + answer_id,
					type: 'put',
					data: {
						answer : {
							question_id : question,
							answer_value : answer_value,
							individual_review_id : individual_review,
							answer_id : answer_id
						}
					},
					dataType: 'script',
					success: function(){
						console.log('success')
					},
					error: function(error){
						console.log('error')
						console.log(error)
					}
				});
			});

		// AJAX to create or update each section comment
			$('.comment-js').on('change', function(){
				var comment_value = $(this).val()
				var section_answer_id = $(this).parent().parent().parent().data('id')
				console.log(section_answer_id)
				console.log(comment_value)
				var section_id = $(this).parent().parent().parent().attr('id').split('-').pop()
				var comment_type = $(this)[0].name.split('[')[1].slice(0,-1)
				console.log(comment_type)
				console.log(section_id)
				var individual_review = <%= @individual_review.id %>
				$.ajax({
					url:'/section_answers/' + section_answer_id,
					type: 'put',
					data: {
						section_answer : {
							comment_value : comment_value,
							comment_type : comment_type
							// individual_review_id : individual_review,
							// answer_id : answer_id
						}
					},
					dataType: 'script',
					success: function(){
						console.log('success')
					},
					error: function(error){
						console.log('error')
						console.log(error)
					}
				});
			});
</script>
