<p id="notice"><%= notice %></p>

<h1>Listing Individual Reviews</h1>

<h4>My Reviews</h4>

<%= @me.profile.name %>
<%= link_to 'Reviews', @me.profile %>

<h4>People I have Reviewed</h4>
<table>
  <tbody>
   
    <% @users.each do |user| %>
      <tr>
        <td><%= user.profile.name %></td>
        <td><%= link_to 'Reviews', user.profile %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Individual review', new_individual_review_path %>
