<section class="content-header">
  <div class="text-center">
    <h1 class="page-title">Listing Employee Reviews</h1>
  </div>
</section>

<section class="content">
  <div class="box box-primary collapsed-box">
    <div class="box-header with-border">
      <h4 class="box-title">My Reviews</h4>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Expand">
          <i class="fa fa-plus"></i></button>
      </div> 
    </div> 
    <div class="box-body">
      <%= @me.profile.name %>
      <%= link_to @me.profile, class:"btn btn-flat btn-primary pull-right" do %>
        <i class="fa fa-files-o" aria-hidden="true"></i>
        Reviews
      <% end %>
    </div> 
  </div>

  <div class="box collapsed-box box-primary">
    <div class="box-header with-border">
      <h4 class="box-title">People I have Reviewed</h4>
      <p><b>Percentage of reviews completed:</b> <%= number_to_percentage(current_user.reviewer_completed_reviews_percentage * 100, precision: 0) %></p>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Expand">
          <i class="fa fa-plus"></i></button>
      </div>
      </div>
    <% if @users.present? %>
        <% @users.each do |user| %>
          <div class="box-body">
            <%= user.profile.name %>
            <%= link_to user.profile, class: 'btn btn-flat btn-primary pull-right' do %>
              <i class="fa fa-files-o" aria-hidden="true"></i>
              Reviews
            <% end %>
          </div>
        <% end %>
    <% else %>
      <div class="box-body">
        No reviews in this category
      </div>
    <% end %>    
  </div>
  

  <div class="box collapsed-box box-primary">
    <div class="box-header with-border">
      <h4 class="box-title">People I am Principal of</h4>
      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Expand">
          <i class="fa fa-plus"></i></button>
      </div>
    </div>
    <% if @underlings.present? %>
      <% @underlings.each do |user| %>
        <% if user.profile.present? %>
          <div class="box-body">
            <%= user.profile.name %>
            <%= link_to user.profile, class: 'btn btn-flat btn-primary pull-right' do %>
              <i class="fa fa-files-o" aria-hidden="true"></i>
              Reviews
            <% end %>
          </div>
       <% end %> 
      <% end %>
    <% else %>
      <div class="box-body">
        No reviews in this category
      </div>
    <% end %>    
  </div>
  
</section>

<script>

  var AdminLTEOptions = {
    //Enable sidebar expand on hover effect for sidebar mini
    //This option is forced to true if both the fixed layout and sidebar mini
    //are used together
    sidebarExpandOnHover: true,
    //BoxRefresh Plugin
    enableBoxRefresh: true,
    //Bootstrap.js tooltip
    enableBSToppltip: true,
    //Box Widget Plugin. Enable this plugin
    //to allow boxes to be collapsed and/or removed
    enableBoxWidget: true,
    //Box Widget plugin options
    boxWidgetOptions: {
      boxWidgetIcons: {
        //Collapse icon
        collapse: 'fa-minus',
        //Open icon
        open: 'fa-plus',
        //Remove icon
        remove: 'fa-times'
      },
      boxWidgetSelectors: {
        //Remove button selector
        remove: '[data-widget="remove"]',
        //Collapse button selector
        collapse: '[data-widget="collapse"]'
      }
    },
  };

</script>


