<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @individual_review.date %><br>
  <strong>Employee:</strong>
  <%= @individual_review.employee.profile.name %><br>
  <strong>Reviewer:</strong>
  <%= @individual_review.reviewer.profile.name %><br>
  <strong>Employee Title:</strong>
  <%= @individual_review.employee.profile.job_title %><br>
</p>

<%= link_to "Update this review", edit_individual_review_path(@individual_review) %>

<h2>Results</h2>
<% @check_results.each do |key, value|%>
	<p><strong><%= key %> :</strong> <%= value %></p>
<% end %>

<h2>--> Just Text</h2>
<% @text_results.select('answers.*, questions.section_id').group_by(&:section_id).each do |section, answers| %>
		<h3><%= Section.find(section).title %></h3>
		<!-- this is to get active record relation of Answers instead of array -->
		<% array = answers.map(&:id) %>
		<% these_answers = Answer.where(id: array) %>
		<!-- end -->
		<% these_answers.joins(:question).select('answers.*, questions.subsection').group_by(&:subsection).each do |subsection, texts|%>
		<h4><%= subsection %></h4>
		<% texts.each do |text| %>
			<p><em><%= text.question.question_text %></em></p>
			<p><%= text.answer %></p>
		<% end %>
		<% end %>
	<hr>
<% end %>

<h2>--> All Answers</h2>
<% @results.select('answers.*, questions.subsection').group_by(&:subsection).each do |subsection, texts| %>
		<h3><%= subsection %></h3>
		<% texts.each do |text| %>
			<p><em><%= text.question.question_text %></em></p>
			<p><%= text.answer %></p>
		<% end %>
	<hr>
<% end %>

<%= link_to 'Edit', edit_individual_review_path(@individual_review) %> |
<%= link_to 'Back', individual_reviews_path %>
