<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Crossey</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <meta name="turbolinks-cache-control" content="no-cache">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<link rel="shortcut icon" type="image/x-icon" href="<%= asset_url 'global.ico'%>">
 <!--  <script   src="http://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>

 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script> -->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>




  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body class="skin-blue fixed sidebar-mini">

<div class="wrapper">

	<header class="main-header">	
		<a href="#" class="logo">CROSSEY</a>

		<nav class="navbar navbar-static-top">
			<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
				<span class="sr-only">Toggle Navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<% if current_user.present? %>
						<% if current_user.profile.present? %>
							<li><%= link_to edit_profile_path(current_user.profile) do %>
								<i class="fa fa-user"> </i>
								Profile
								<% end %>
							</li>
						<% end %>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete  %> </li>
						
					<% end %>
				</ul>
			</div>
		</nav>
	</header>


 	<aside class="main-sidebar control-sidebar-dark">
		<section class="sidebar" id="scrollspy">
			<ul class="sidebar-menu">
				<li class="header">MAIN NAVIGATION</li>
				<li><%= link_to 'About', about_path %></li>
				<li>
					<%= link_to 'All Reviews',individual_reviews_path %> 
				</li>
				<li><%= link_to 'Start/Find Review', new_individual_review_path %></li>
				<% if current_user.present? && current_user.is_super_admin? %>
					<li><%= link_to 'Users', profiles_path %></li>
				<% end %>
				<li class="logo"><%= image_tag 'logo_icon.png'%> <%= image_tag 'logo_text.png' %></li>
			</ul>
		</section>
		<div class="slimScrollBar"></div>
		<div class="slimScrollRails"></div>
	</aside> 

	<div class="content-wrapper">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>


		<%= yield %>
		<%= insert_paloma_hook %>
		
	</div>
	
</div>
</body>
</html>
