<!DOCTYPE html>
<html>
<head>
  <title>Crossey</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
	<ul>
		<li> <%= link_to 'All Reviews',individual_reviews_path %> </li>
		<li><%= link_to 'Start/Find Review', new_individual_review_path %></li>
		<li><%= link_to 'All Reviews Types',reviews_path %> </li>
		<li></li>
	</ul>

<%= yield %>

</body>
</html>
